.material-icons.md-18 { font-size: 18px; }

.material-icons.md-24 { font-size: 24px; }

.material-icons.md-36 { font-size: 36px; }

.material-icons.md-48 { font-size: 48px; }

.material-icons.md-144 { font-size: 144px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.blue { color: blue }

.material-icons.black { color: black }

.material-icons.deepskyblue { color: deepskyblue }

.material-icons.darkgreen { color: darkgreen }

.material-icons.green { color: green }

.material-icons.red { color: red }

.material-icons.orange { color: orange }

.material-icons.disabled { color: gray }