<div layout="column" layout-margin>

    <div ng-if="isExpert" layout="column" layout-align="start end" ng-repeat="option in options">
        <md-button class="md-icon-button md-48" ng-click="optionClicked(option)"
                   ng-class="{elementSelected:optionSelected == options[$index].name}">
            <i class="material-icons md-36">{{option.icon}}</i>
            <md-tooltip>{{option.tooltip}}</md-tooltip>
        </md-button>
    </div>

    <div ng-repeat="toolItem in tools">
        <md-button class="md-icon-button md-48" ng-disabled="disableTools" ng-click="toolClicked($index)">
            <md-icon>
                <i class="material-icons md-36"
                   ng-class="{elementSelected:tool == tools[$index].name && !disableTools}">{{toolItem.icon}}</i>
                <md-tooltip>{{toolItem.name}}</md-tooltip>
            </md-icon>
        </md-button>
    </div>

    <md-menu>
        <md-button aria-label="Color menu" class="md-icon-button md-48" ng-click="$mdOpenMenu($event)">
            <md-icon>
                <i class="material-icons md-36">format_color_fill</i>
                <md-tooltip>color</md-tooltip>
            </md-icon>
        </md-button>
        <md-menu-content width="4">
            <md-menu-item layout-margin ng-repeat="colorClass in colors">
                <md-button aria-label="color" ng-repeat="color in colorClass.name" layout-padding
                           ng-style={'background-color':color} ng-click="colorClicked($parent.$index, $index)"
                           ng-class="{coverage_black:colorSelected == colors[$parent.$index].name[$index]}">
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <div ng-repeat="actionItem in actions">
        <md-button class="md-icon-button md-48" ng-click="actionClicked($index)" ng-disabled="disableTools">
            <md-icon>
                <i class="material-icons md-36">{{actionItem.icon}}</i>
                <md-tooltip>{{actionItem.name}}</md-tooltip>
            </md-icon>
        </md-button>
    </div>
</div>